<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Формулы</title>
  <style>
    .formula-item {
      margin-bottom: 10px;
    }
    .formula-item button {
      margin-left: 10px;
    }
    .button {
      display: inline-block;
      padding: 5px 10px;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
    .button:hover {
      background-color: #0056b3;
    }
    button {
      padding: 5px 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <h1>Список формул</h1>
  <a href="/formulas/add" class="button" style="background-color: purple">Добавить новую формулу</a>
  <br>
  <ul>
    <% @formulas.each do |type, formula| %>
      <table>
        <tr>
          <td style="font-size: 20px; width: 150px;" align=left><strong><%= type %></strong></td>
          <td><a href="/formulas/edit/<%= type %>" class="button" style="font-size: 10px;">Редактировать</a></td>
          <td><form action="/formulas/delete/<%= type %>" method="post" style="display:inline; font-size: 10px;">
          <td> <button type="submit" style="font-size: 10px; background-color: red">Удалить</button> </td>
          </form></td>
          <td><a href="/formulas/view/<%= type %>" class="button" style="font-size: 10px; background-color: green">Посмотреть</a></td>
        </tr>
      </table>
    <% end %>
  </ul>
  <br>
  <a href="/" class="button">На главную</a>
</body>
</html>