<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Редактировать формулу</title>
  <style>
  .button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .button:hover {
    background-color: #0056b3;
  }
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
</style>
</head>
<body>
  <h1>Редактировать формулу</h1>
  <form action="/formulas/edit/<%= @type %>" method="post">
    <label for="new_type">Новый тип:</label>
    <input type="text" name="new_type" id="new_type" value="<%= @type %>" required>
    <br>
    <label for="formula">Формула:</label>
    <input type="text" name="formula" id="formula" value="<%= @formula %>" required>
    <br>
    <button type="submit">Сохранить</button>
  </form>
  <br>
  <a href="/formulas" class="button">Назад к списку формул</a>
</body>
</html>