<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Результаты поиска</title>
  <style>
  .button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .button:hover {
    background-color: #0056b3;
  }
</style>
</head>
<body>
  <h1>Результаты поиска для "<%= params[:name] %>"</h1>
  <ul>
    <% @relatives.each do |type, names| %>
      <li>
        <strong><%= type %>:</strong>
        <% if names == "none" %>
          -
        <% else %>
          <%= names.join(", ") %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <a href="/" class="button">Назад</a>
</body>
</html>